.dashboards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-left: 550px;
    gap: 20px;
    
}