/* #region global*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;

}

.container-principal {
    width: 100%;
    height: 100vh;
    background-color: #F0EAE3;
    display: flex;

    .menu {
        width: 250px;
        background-color: #42090e;
        border-radius: 15px;
        margin: 15px 0 15px 15px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .logo {
            width: 250px;
            height: auto;
        }

        .voltar {
            width: 80%;
            display: flex;
            align-items: center;

            .imgItens {
                width: 50px;
            }

            a {
                margin-left: 15px;
                color: #F0EAE3;
                font-family: 'Josefin Sans', sans-serif;

            }
        }

        .itens {
            width: 80%;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            .item {
                width: 100%;
                display: flex;
                /* justify-content: center; */
                align-items: center;
                margin-top: 10px;


                .imgItens {
                    width: 50px;
                }

                a {
                    margin-left: 15px;
                    color: #F0EAE3;
                    font-family: 'Josefin Sans', sans-serif;
                }
            }

            #p1 {
                background-color: #60292d;
                border-radius: 10px;
            }

            #p2 {
                background-color: #60292d;
                border-radius: 10px;
            }

            #p3 {
                background-color: #60292d;
                border-radius: 10px;
            }

            #p4 {
                background-color: #60292d;
                border-radius: 10px;
            }
        }

    }
}

.legenda-custom {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* cores */
.verde {
    background-color: #6b8e23;
    /* igual ao gráfico */
}

.laranja {
    background-color: #ffa230;
}

.vermelho {
    background-color: #d9534f;
}



/* #endregion */
/*#region painel*/
.painel {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-painel {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90%;

        .titulo {
            display: flex;
            width: 100%;
            height: 100px;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-weight: 500;
                color: #42090e;
                font-size: 2rem;
            }

            p {
                color: #4A4141;
                font-size: 1rem;
            }

        }

        .kpis {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .caixas {
                width: 270px;
                height: 150px;
                border-radius: 12px;
                background-color: #F0EAE3;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;

                text-align: center;

                .tituloKpi {
                    h3 {
                        font-size: 0.9rem;
                        font-weight: 600;
                        color: #42090e;
                    }
                }

                .num {
                    h2 {
                        font-size: 2.5rem;
                        font-weight: 700;
                        padding: 5px 0;
                    }

                    .numEspcial {
                        font-size: 2rem;
                    }
                }

                .desc {
                    p {
                        font-size: 0.90rem;
                        color: #42090e;

                    }
                }
            }
        }

        .graficos {
            width: 100%;
            height: 300px;
            display: flex;
            /* background-color: #42090e; */
            margin-top: 40px;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .graf1,
            .graf2 {
                width: 40%;
                height: 300px;
            }

            .graf1 {
                display: flex;
                flex-direction: column;

                .area-grafico {
                    height: 85%;
                    width: 100%;
                }

                .legenda {
                    height: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 18px;
                    flex-wrap: wrap;

                    .item-legenda {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        p {
                            margin: 0;
                            font-size: 11px;
                            font-family: 'Josefin Sans', sans-serif;
                            color: #42090e;
                        }

                        .cor {
                            width: 12px;
                            height: 12px;
                            border-radius: 3px;
                        }

                        .verde {
                            background-color: #6BBF61;
                        }

                        .laranja {
                            background-color: #E6982B;
                        }

                        .vermelho {
                            background-color: #C52A2A;
                        }
                    }
                }
            }

            .graf2 {
                display: flex;
                flex-direction: column;

                .area-grafico-linha {
                    width: 100%;
                    height: 82%;
                }

                .legenda-linha {
                    height: 18%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 14px;
                    flex-wrap: wrap;

                    .item-legenda {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        p {
                            margin: 0;
                            font-size: 11px;
                            font-family: 'Josefin Sans', sans-serif;
                            color: #42090e;
                        }

                        .linha {
                            width: 22px;
                            height: 2px;
                            border-radius: 2px;
                        }


                        .vermelho {
                            background: #8B5E5E;
                        }

                        .laranja {
                            background: #C48A5A;
                        }

                        .terracota {
                            background: #A8735A;
                        }

                        .verde {
                            background: #7A8F6B;
                        }

                        .azul {
                            background: #6F8FAF;
                        }

                        .roxo {
                            background-color: #8C7AA9;
                        }

                        .amarelo {
                            background-color: #C2B36F;
                        }

                        .limiteSup {
                            background: #B04A4A;
                            border-top: 2px dashed #B04A4A;
                            height: 0;
                        }

                        .limiteInf {
                            background: #4A6FA5;
                            border-top: 2px dashed #4A6FA5;
                            height: 0;
                        }
                    }
                }
            }

        }
    }
}

/*#endregion*/
/*#region alerta*/
.alerta {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-alerta {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90%;
        /* background-color: #120942; */

        .titulo {
            display: flex;
            width: 100%;
            height: 100px;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-weight: 500;
                color: #42090e;
                font-size: 2rem;
            }

            p {
                color: #4A4141;
                font-size: 1rem;
            }
        }

        .container-alertas2 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            /* background-color: transparent; */

            .cardsAlertas {
                width: 100%;
                height: 110px;
                background-color: #F0EAE3;
                border-radius: 15px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: 0 25px;
                box-shadow: 0 4px 10px #0000000d;

                .iconeAlerta {
                    width: 70px;
                    height: 70px;
                    background-color: #f3e3e3;
                    border-radius: 15px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 35px;
                    }
                }

                .infoAlerta {
                    width: 50%;

                    h3 {
                        font-size: 1.4rem;
                        color: #42090e;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 1rem;
                        color: #4A4141;
                    }
                }

                .divisor {
                    width: 1px;
                    height: 60%;
                    background-color: #d6cfc7;
                }

                .tempoAlerta {
                    width: 20%;
                    text-align: center;

                    p {
                        font-size: 0.9rem;
                        color: #7a6f6f;
                    }

                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: #42090e;
                    }
                }
            }
        }
    }
}

/*#endregion*/
/*#region vinicola*/

.vinicola {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-vinicola {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90%;

        .titulo {
            display: flex;
            width: 100%;
            height: 100px;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-weight: 500;
                color: #42090e;
                font-size: 2rem;
            }

            p {
                color: #4A4141;
                font-size: 1rem;
            }
        }

        .container-caixas {
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: space-between;

            .caixas-vinicola {
                width: 48%;
                height: 100%;
                background-color: #F0EAE3;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                padding: 20px;

                .titulo-vinicola {
                    width: 100%;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    margin-left: 12px;

                    .bolinha-titulo {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #42090e;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 15px;


                        img {
                            width: 30px;
                        }
                    }

                    h2 {
                        color: #42090e;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }

                .container-info {
                    width: 100%;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    background-color: #E8DED4;
                    border-radius: 12px;
                    margin-top: 10px;

                    .bolinha-info {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #42090e;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 15px;

                        img {
                            width: 30px;
                        }
                    }

                    .infos {
                        display: flex;
                        flex-direction: column;
                        margin-left: 15px;

                        .subtitulo {
                            color: #6b6262;
                            font-size: 1rem;
                            font-weight: 400;
                        }

                        p {
                            color: #1f1717;
                            font-size: 1.05rem;
                            font-weight: 600;
                        }
                    }

                    .linha {
                        display: none;
                    }
                }
            }
        }
    }
}

/*#endregion*/
/*#region conta*/
.conta {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-conta {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90%;

        .titulo {
            display: flex;
            width: 100%;
            height: 100px;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-weight: 500;
                color: #42090e;
                font-size: 2rem;
            }

            p {
                color: #4A4141;
                font-size: 1rem;
            }
        }

        .caixa-conta {
            width: 80%;
            height: 65%;
            background-color: #F0EAE3;
            border-radius: 15px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            box-shadow: 0 4px 10px #0000000d;

            .titulo-conta {
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                margin-left: 5px;

                .bolinha-titulo {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: #42090e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 15px;

                    img {
                        width: 28px;
                    }
                }

                h2 {
                    color: #42090e;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

            .container-info-conta {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #d6cfc7;

                .bolinha-info {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    background-color: #42090e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 25px;

                    img {
                        width: 35px;
                    }
                }

                .infos-conta {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .subtitulo {
                        color: #6b6262;
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    p {
                        color: #1f1717;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }
            }

            .container-info-conta:last-child {
                border-bottom: none;
            }
        }
    }
}

/*#endregion*/