* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /* font-family: "Libre Bodoni", serif; */
    font-family: "Libre Bodoni", serif;
    text-decoration: none;
}


/* cabeçalho */
.main-cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #e2d8ca;
}

.container-logo {
    img {
        display: flex;
        align-items: center;
        padding-left: 40px;
        padding-top: 10px;
        width: 200px;
        margin-bottom: 10px;
    }

}



.container-nav {
    width: 100%;

    a {
        color: #4a0e0e;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
    }

    a:hover {
        color: #cf5c5c;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-right: 130px;
        padding-top: 20px;
        gap: 80px;
        list-style: none;
    }

    .btn-nav-entrar {
        padding: 10px;
        border-radius: 8px;
        background-color: #4a0e0e;
        color: #fefcf8;
        cursor: pointer;
        font-family: 'Josefin Sans', sans-serif;
        transition: 200ms;
    }

    .btn-nav-entrar:hover {
        transition: 200ms;
        background-color: #7f6969;
    }
}


.conteudo {
    width: 100%;
    height: 550px;
    background-color: #F1F1F0;
    display: flex;
}

.titDireita {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;


    .titulo-main {
        font-family: 'DM Serif Display', serif;
        font-size: 4rem;
        color: #4E0E0E;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .tit {
        margin-top: 15px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
        color: #4A4141;
    }
}

.container-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-uva {
        width: 500px;
        height: auto;
    }
}

.container-lista {
    width: 100%;
    height: 100px;
    background-color: #F0EAE3;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        padding: 50px;

        a {
            color: #4E0E0E;
            font-family: 'Josefin Sans', sans-serif;

        }
    }
}

.conteudo-principal {
    width: 100%;
    height: 950px;
    background-color: #E2D8CA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;

    .titulo {
        color: #4E0E0E;
        padding: 10px 0;
        font-size: 1.2rem;
    }

    .mensagens {
        width: 80%;
        color: #4A4141;
        padding: 30px 0;

        .pilares {
            color: #4E0E0E;
            font-family: 'Josefin Sans', sans-serif;
        }

        p {
            font-family: 'Josefin Sans', sans-serif;
        }
    }
}