@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/* #region */

/* cabeçalho */
.main-cabecalho {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #6c7272;
}

.container-logo {
  width: 220px;
  padding: .5rem 0;
}

.container-nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    color: #4a0e0e;
    text-align: center;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: 200ms;
  }

  a:hover {
    color: #ffffff;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 80px;
    list-style: none;
  }

  .btn-nav-entrar {
    padding: 10px;
    width: 100px;
    border-radius: 8px;
    background-color: #4a0e0e;
    color: #fefcf8;
    cursor: pointer;
    font-size: 17px;

    transition: 200ms;
  }

  .btn-nav-entrar:hover {
    transition: 200ms;
    background-color: #7f6969;
  }
}

.container-principal {
  display: flex;
  flex-direction: column;
}

/* Container 1: Primeira parte da tela */
.container-banner {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;

  gap: 15px;
  padding: 150px;
  top: 10%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: start;
  width: 80%;

  h1 {
    font-family: "DM Serif Display";
    font-weight: 600;
    color: #e2d8ca;
    font-size: 80px;
  }

  p {
    font-family: "Montserrat";
    font-weight: 400;
    color: #aea9a4;
    font-size: 30px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .btn-paginaSobre-container1 {
    border-radius: 10px;
    padding: 10px 15px;
    background: #4a0e0e;

    color: #fefbf8;
    font-family: "Montserrat";
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;

    border: 1px solid #ffffff00;
    height: 2.5rem;

    cursor: pointer;
    transition: 200ms;
  }

  .btn-paginaSobre-container1:hover {
    background-color: #a69696;
    border: 1px solid #4a0e0e;
    color: white;
    border-radius: 10px;
    transition: 200ms;
  }
}

/*Container 2: Segunda parte da tela */
.container-descricao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e2d8ca;
  height: 100%;
  width: 100%;
  padding: 50px;

  .imagem-vinho img {
    display: flex;
    flex: 1;
    width: 100%;
  }

  .texto-descricao {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 70px;
    gap: 30px;

    span {
      color: #756d61;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 4.8px;
    }

    h2 {
      color: #221515;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-family: "DM Serif Display";
      font-size: 96px;
      font-style: normal;
      font-weight: 600;
      line-height: 85px;
    }

    p {
      color: rgba(34, 21, 21, 0.6);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-family: "Montserrat";
      font-size: 25px;
      font-weight: 400;
    }

    a {
      color: #756d61;
      text-align: start;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 4.8px;
      text-decoration: none;

      cursor: pointer;
      transition: 200ms;
    }

    a:hover {
      transition: 200ms;
      color: #fefbf8;
    }
  }
}

/* #endregion */
/* #region cards*/
.container-cards {
  width: 100%;
  height: 130vh;
  background-color: #270E0E;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;


  .card {
    width: 25%;
    height: 65%;
    /* background-color: #fefbf8; */
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 100%;
      height: auto;
    }

    .subtitulo {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      /* background-color: #6c7272; */

      .container-subtitulo-cards {
        font-family: 'DM Serif Display', serif;
        font-size: 2rem;
        color: #E2D8CA;
      }

      p {
        font-family: 'Josefin Sans', sans-serif;
        color: #E2D8CA;
        font-size: 1rem;
      }
    }

    a {
      font-family: 'Josefin Sans', sans-serif;
      color: #E2D8CA;
      font-size: 1rem;
      text-decoration: none;
    }
  }
}

/* #endregion */

/* #region contato*/
.container-contato {
  width: 100%;
  height: 120vh;
  background-color: #E2D8CA;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-titulo-contato {
    width: 40%;
    height: 80%;
    /* background-color: #4a0e0e; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .texto-destaque {
      width: 100%;
      font-family: 'DM Serif Display', serif;
      font-size: 3rem;
      font-style: italic;
      font-weight: 400;
      color: #4a0e0e;
    }

    p {
      font-family: 'Josefin Sans', sans-serif;
      color: #756d61;
      font-size: 1.5rem;
    }

  }

  .container-form {
    width: 50%;
    height: 65%;
    background-color: #FEFBF8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    .container-info-form {
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .texto-destaque-form {
        font-family: 'DM Serif Display', serif;
        font-size: 2rem;
        color: #4a0e0e;
      }

      .container-caixinha {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .texto-comum {
          font-family: 'Josefin Sans', sans-serif;
          font-size: 1rem;
          color: #4a0e0e;
        }

        .inp-form {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          outline: none;
          padding-left: 10px;
          background-color: #E4E4E3;
          box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.249);
        }

        #ipt_cont_msg {
          width: 100%;
          height: 160px;
          border-radius: 10px;
          outline: none;
          padding: 10px;
          background-color: #E4E4E3;
          box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.249);
          resize: none;
        }
      }

      .container-btn {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .btn-contato {
          width: 160px;
          height: 40px;
          background-color: #4a0e0e;
          font-family: 'Josefin Sans', sans-serif;
          border-radius: 14px;
          color: #FEFBF8;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.188);
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
  }
}
/* #endregion */

/* #region  footer*/
.footer {
  width: 100%;
  height: 70px;
  background-color: #f5f5f3;
  border-top: 1px solid #4a0e0e;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .footer-logo {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  .footer-nav {
    display: flex;
    align-items: center;
    gap: 80px;

    a {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 0.9rem;
      font-weight: 600;
      color: #4a0e0e;
      text-decoration: none;
    }
  }

  .footer-email {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #4a0e0e;

    span {
      font-size: 1rem;
    }

    p {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}
/* #endregion */