@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  border: none;
}

.container-main {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-esquerda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* tamanho */
  width: 50%;
  height: 100%;

  /* cor de fundo */
  background-color: #270e0e;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    height: 20%;
  }

  h1 {
    color: #f8f6f4;
    font-family: "DM Serif Display";
    font-size: 55px;
    font-style: italic;
    font-weight: 700;
  }

  p {
    color: #aea9a4;
    text-align: center;
    font-family: "Montserrat";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .btn-pagina-cadastro {
    border-radius: 10px;
    background: #fefbf8;
    padding: 5px 10px;

    color: #221515;
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;

    transition: 200ms;
  }

  .btn-pagina-cadastro:hover {
    background-color: #453636;
    color: white;
    border-radius: 10px;
    padding: 0.6rem;
    transition: 200ms;
  }
}

.container-direita {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* tamanho */
  width: 50%;
  height: 100%;

  /* cor de fundo */
  background-color: #e2d8ca;

  .content {
    background-color: #fefbf8;
    border-radius: 1rem;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;

    height: 40%;
    width: 68%;
  }

  h2 {
    color: #4a0e0e;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 700;

    /* tamanho */
    height: 20%;
  }

  p {
    color: #270e0e;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;

    /* tamanho */
    height: 20%;
  }

  #ipt_login_email,
  #ipt_login_senha {
    border-radius: 5px;
    background: #e4e4e3;
    padding: 10px;

    /* tamanho */
    height: 13%;
    width: 100%;
  }

  .btn-pagina-dash {
    border-radius: 8px;
    padding: 6px;
    background: #4a0e0e;

    color: #fefbf8;
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: italic;
    font-weight: 700;

    cursor: pointer;

    width: 20%;
    height: 30%;

    transition: 200ms;
  }

  .btn-pagina-dash:hover {
    background-color: #a69696;
    border: 1px solid #4a0e0e;
    color: white;
    border-radius: 10px;
    padding: 7px;
    transition: 200ms;
  }
}
