/* Importa o menu e resets globais */
.container-principal {
    min-height: 100vh;
}

.alerta {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-alerta {
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.container-alertas2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.cardsAlertas {
    width: 100%;
    height: 110px;
    background-color: #F0EAE3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 4px 10px #0000000d;
}

.iconeAlerta {
    width: 70px;
    height: 70px;
    background-color: #f3e3e3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeAlerta img {
    width: 35px;
}

.infoAlerta {
    width: 50%;
}

.infoAlerta h3 {
    font-size: 1.4rem;
    color: #42090e;
    margin-bottom: 5px;
}

.infoAlerta p {
    font-size: 1rem;
    color: #4A4141;
}

.divisor {
    width: 1px;
    height: 60%;
    background-color: #d6cfc7;
}

.tempoAlerta {
    width: 20%;
    text-align: center;
}

.tempoAlerta p {
    font-size: 0.9rem;
    color: #7a6f6f;
}

.tempoAlerta span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #42090e;
}