/* #region global*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;

}

.container-principal {
    width: 100%;
    min-height: 400vh;
    background-color: #F0EAE3;
    display: flex;

    .menu {
        width: 250px;
        background-color: #42090e;
        border-radius: 15px;
        margin: 15px 0 15px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu .logo {
        width: 250px;
        height: auto;
    }

    .menu .itens {
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .menu .item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .menu .item .imgItens {
        width: 50px;
    }

    .menu .item a {
        margin-left: 15px;
        color: #F0EAE3;
        font-family: 'Josefin Sans', sans-serif;
    }

    #p1, #p2, #p3, #p4 {
        background-color: #60292d;
        border-radius: 10px;
    }

    /* 🔴 CORREÇÃO IMPORTANTE */
    .menu .voltar {
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: auto; /* isso empurra para o final */
        margin-bottom: 15px;
    }

    .menu .voltar .imgItens {
        width: 50px;
    }

    .menu .voltar a {
        margin-left: 15px;
        color: #F0EAE3;
        font-family: 'Josefin Sans', sans-serif;
    }
}
.legenda-custom {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* cores */
.verde {
    background-color: #6b8e23;
    /* igual ao gráfico */
}

.laranja {
    background-color: #ffa230;
}

.vermelho {
    background-color: #d9534f;
}



/* #endregion */
/*#region painel*/
.container-principal {
    width: 100%;
    min-height: 100vh;
    background-color: #F0EAE3;
    display: flex;

    .menu {
        width: 250px;
        background-color: #42090e;
        border-radius: 15px;
        margin: 15px 0 15px 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.painel {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-painel {
        width: 95%;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        height: auto;
    }
}
        .titulo {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-family: 'DM Serif Display', serif;
        font-weight: 500;
        color: #42090e;
        font-size: 2rem;
    }

    p {
        color: #4A4141;
        font-size: 1rem;
    }
}

.conteudo-dashboard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
    margin-top: 35px;
}



/* COLUNA DAS KPIS */
.kpis-lateral {
    width: 36%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 18px;
}

/* CARD KPI */
.caixa-kpi-nova {
    width: 100%;
    height: 170px;

    background-color: #F0EAE3;

    border-radius: 18px;

    padding: 16px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 10px;

    box-shadow: 0 4px 10px #00000010;
}

/* PAINEL DE CRITICIDADE (IMPORTANTE) */
.kpi-criticidade-grande {
    width: 100%;

    background-color: #F0EAE3;

    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 15px;

    box-shadow: 0 4px 10px #00000010;
    
}

/* GRID DOS TANQUES */
.grid-tanques {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 12px;
}

/* CARD INTERNO DOS TANQUES */
.tanque-kpi {
    background: #fff;
    border-radius: 12px;

    padding: 10px;

    min-height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    box-shadow: 0 2px 5px #00000010;
}

.tanque-kpi h4 {
    margin: 0;
    font-size: 14px;
}

.tanque-kpi p {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

/* TÍTULOS */
.titulo-kpi-nova h3 {
    color: #42090e;

    font-size: 0.72rem;
    font-weight: 700;
    line-height: 1rem;
}

/* VALOR */
.numero-kpi-nova h2 {
    color: #42090e;

    font-size: 1.4rem;
    font-weight: 700;
}

/* DESCRIÇÃO */
.descricao-kpi-nova p {
    color: #5e5555;

    font-size: 0.75rem;
    line-height: 1rem;
}

/* ÁREA DO GRÁFICO */
.grafico-dashboard-direita {
    width: 64%;
    min-height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
}

/* TÍTULO DO GRÁFICO */
.titulos-graficos {
    width: 90%;
    margin: 20px auto 0 auto;

    display: flex;
    justify-content: flex-start;
}

.titulo-grafico {
    color: #42090e;
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
    text-align: left;
}

/* CONTAINER DOS GRÁFICOS */
.graficos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.graf1 {
    width: 90%;
    height: 500px;

    background-color: #F0EAE3;
    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 10px #00000010;
}

.area-grafico {
    width: 100%;
    height: 400px;
}

#graficoBarra {
    width: 100% !important;
    height: 100% !important;
}

/* PAINEL EXPLICATIVO */

.painel-explicacao {
    width: 90%;

    background-color: #F0EAE3;

    border-radius: 20px;

    margin: 25px auto 0 auto;

    padding: 22px;

    box-shadow: 0 4px 10px #00000010;

    display: flex;
    flex-direction: column;

    gap: 14px;
}

.botao-detalhes-container {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 15px;
}

.botao-detalhes:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px #00000015;
}

.botao-detalhes {
    display: inline-flex;
    list-style: none;
}

.botao-detalhes::before,
.botao-detalhes::after {
    content: none !important;
}

a {
    text-decoration: none;
}

.botao-detalhes {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    max-width: 320px;

    padding: 14px;

    border-radius: 14px;
    background-color: #F0EAE3;
    border: 1px solid #d6cfc7;

    color: #5a3a2e;
    font-weight: 600;
    font-size: 14px;

    box-shadow: 0 2px 6px #00000010;
    cursor: pointer;
}
/* TÍTULO */

.painel-explicacao h3 {
    color: #42090e;

    font-size: 1.4rem;

    font-family: 'DM Serif Display', serif;
}

/* LINHAS */

.linha-explicacao {
    width: 100%;

    background-color: #E8DED4;

    border-radius: 12px;

    padding: 12px 15px;

    color: #42090e;

    font-size: 0.95rem;

    line-height: 1.4;
}

/* PALAVRAS EM DESTAQUE */

.linha-explicacao strong {
    font-weight: 700;
}

/* LEGENDA */
.legenda {
    width: 100%;
    min-height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 18px;
    flex-wrap: wrap;

    margin-top: 10px;
}

/* ITENS DA LEGENDA */
.item-legenda {
    display: flex;
    align-items: center;
    gap: 6px;
}

.item-legenda p {
    margin: 0;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    color: #42090e;
}

/* QUADRADINHOS DAS CORES */
.cor {
    width: 12px;
    height: 12px;
    border-radius: 4px;
}

.verde {
    background-color: #6BBF61;
}

.laranja {
    background-color: #E6982B;
}

.vermelho {
    background-color: #C52A2A;
}

/*#endregion*/
/*#region alerta*/
.alerta {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-alerta {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90%;
        /* background-color: #120942; */

        .titulo {
            display: flex;
            width: 100%;
            height: 100px;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-weight: 500;
                color: #42090e;
                font-size: 2rem;
            }

            p {
                color: #4A4141;
                font-size: 1rem;
            }
        }

        .container-alertas2 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            /* background-color: transparent; */

            .cardsAlertas {
                width: 100%;
                height: 110px;
                background-color: #F0EAE3;
                border-radius: 15px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: 0 25px;
                box-shadow: 0 4px 10px #0000000d;

                .iconeAlerta {
                    width: 70px;
                    height: 70px;
                    background-color: #f3e3e3;
                    border-radius: 15px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 35px;
                    }
                }

                .infoAlerta {
                    width: 50%;

                    h3 {
                        font-size: 1.4rem;
                        color: #42090e;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 1rem;
                        color: #4A4141;
                    }
                }

                .divisor {
                    width: 1px;
                    height: 60%;
                    background-color: #d6cfc7;
                }

                .tempoAlerta {
                    width: 20%;
                    text-align: center;

                    p {
                        font-size: 0.9rem;
                        color: #7a6f6f;
                    }

                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: #42090e;
                    }
                }
            }
        }
    }
}

/*#endregion*/
/*#region vinicola*/

.vinicola {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-vinicola {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90%;

        .titulo {
            display: flex;
            width: 100%;
            height: 100px;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-weight: 500;
                color: #42090e;
                font-size: 2rem;
            }

            p {
                color: #4A4141;
                font-size: 1rem;
            }
        }

        .container-caixas {
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: space-between;

            .caixas-vinicola {
                width: 48%;
                height: 100%;
                background-color: #F0EAE3;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                padding: 20px;

                .titulo-vinicola {
                    width: 100%;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    margin-left: 12px;

                    .bolinha-titulo {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #42090e;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 15px;


                        img {
                            width: 30px;
                        }
                    }

                    h2 {
                        color: #42090e;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }

                .container-info {
                    width: 100%;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    background-color: #E8DED4;
                    border-radius: 12px;
                    margin-top: 10px;

                    .bolinha-info {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #42090e;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 15px;

                        img {
                            width: 30px;
                        }
                    }

                    .infos {
                        display: flex;
                        flex-direction: column;
                        margin-left: 15px;

                        .subtitulo {
                            color: #6b6262;
                            font-size: 1rem;
                            font-weight: 400;
                        }

                        p {
                            color: #1f1717;
                            font-size: 1.05rem;
                            font-weight: 600;
                        }
                    }

                    .linha {
                        display: none;
                    }
                }
            }
        }
    }
}

/*#endregion*/
/*#region conta*/
.conta {
    width: 80%;
    margin: 15px 15px;
    height: auto;
    background-color: #E2D8CA;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-conta {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 90%;

        .titulo {
            display: flex;
            width: 100%;
            height: 100px;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-weight: 500;
                color: #42090e;
                font-size: 2rem;
            }

            p {
                color: #4A4141;
                font-size: 1rem;
            }
        }

        .caixa-conta {
            width: 80%;
            height: 65%;
            background-color: #F0EAE3;
            border-radius: 15px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            box-shadow: 0 4px 10px #0000000d;

            .titulo-conta {
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                margin-left: 5px;

                .bolinha-titulo {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: #42090e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 15px;

                    img {
                        width: 28px;
                    }
                }

                h2 {
                    color: #42090e;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

            .container-info-conta {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #d6cfc7;

                .bolinha-info {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    background-color: #42090e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 25px;

                    img {
                        width: 35px;
                    }
                }

                .infos-conta {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .subtitulo {
                        color: #6b6262;
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    p {
                        color: #1f1717;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }
            }

            .container-info-conta:last-child {
                border-bottom: none;
            }
        }
    }
}

/* painel tanques */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0EAE3;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 30px;
}

.titulo{
    color: #42090e;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

/* Botões laterais */

.botoes{
    position: fixed;
    top: 120px;
    left: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.botoes button{
    width: 150px;
    height: 45px;

    background-color: #42090e;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;
    font-weight: bold;

    transition: 0.3s;
}

.botoes button:hover{
    background-color: #5d1f25;
    transform: translateY(-2px);
}

.voltar-container{
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-voltar{
    width: 150px;
    height: 45px;

    background-color: #42090e;
    color: white;

    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;
    font-weight: bold;

    transition: 0.3s;
}

.btn-voltar:hover{
    background-color: #5d1f25;
    transform: translateY(-2px);
}


/* Área dos gráficos */

.dashboards{
    width: 80%;
    margin: auto;
    margin-left: 220px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboards h4{
    color: #42090e;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
}

/* Cards */

.card1,
.card2,
.card3,
.card4{
    background-color: white;

    width: 100%;
    height: 320px;

    border-radius: 20px;

    padding: 15px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    display: flex;
    justify-content: center;
    align-items: center;
}
/* Canvas */

canvas{
    width: 100% !important;
    height: 100% !important;
}

/* Linha divisória */

hr{
    border: none;
    height: 2px;
    background-color: #c7b9a7;
    margin-top: 10px;
}

.menu{
    position: fixed;
    left: 0;
    top: 0;

    width: 220px;
    height: 100vh;

    background-color: #42090e;

   .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    padding: 20px 0;
}

.logo{
    width: 140px;
    margin-top: 0px;
     margin-bottom: 10px;
}

.itens{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 0;
}

.item{
    display: flex;
    align-items: center;

    gap: 10px;

    padding: 12px 20px;

    transition: 0.3s;
}

.item:hover{
    background-color: rgba(255,255,255,0.1);
}

.item a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.imgItens{
    width: 24px;
    height: 24px;
}